In [0]:
spark

In [0]:
empdata_df=spark.read.format("csv")\
          .option("header","true")\
          .option("inferschema","true")\
          .option("mode","FAILFAST")\
          .load("/Volumes/workspace/empdata/empdata/empdata.csv")
empdata_df.show()

+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|Emp_ID|  Name|Department|         Role|Salary|Experience|Joining_Date|Performance_Score|Bonus|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|  E101|Ananya|        HR|      Manager| 75000|         8|  2016-05-12|               89| 5000|
|  E102| Rahul|   Finance|      Analyst| 62000|         5|  2019-07-20|               76| 3500|
|  E103| Divya|        IT|    Developer| 55000|         3|  2021-03-14|               80| 4000|
|  E104|Ashwin|        IT|    Developer| 58000|         4|  2020-09-11|               92| 4200|
|  E105| Kiran|     Sales|    Executive| 48000|         2|  2022-01-05|               67| NULL|
|  E106| Leena|   Finance|      Manager| 82000|         9|  2015-02-25|               95| 6000|
|  E107| Sneha|        HR|    Recruiter| 50000|         3|  2021-08-18|             NULL| 3000|
|  E108|Vikram|        IT|       Tester| 53000|         4|  2020-06-09|               73| 3200|
|  E109| Manoj|     Sales|    Executive|  NULL|         2|  2022-03-10|               70| 2500|
|  E110|Roshni| Marketing|    Executive| 46000|         1|  2023-02-22|               65| 2000|
|  E111| Aarav|   Finance|        Clerk| 40000|         1|  2023-05-15|               55| 1500|
|  E112| Priya|        IT|    Developer| 57000|         5|  2018-12-02|               88| 4100|
|  E113|  Ravi|     Sales|      Manager| 76000|        10|  2013-09-27|               90| 5500|
|  E114| Meena|        HR|    Executive| 47000|         2|  2022-06-30|               75| 2800|
|  E115| Kavya|        IT|       Tester| 52000|         4|  2020-10-18|             NULL| 3100|
|  E116|Aditya|        IT|Data Engineer| 68000|         6|  2018-07-19|               84| 4500|
|  E117|  Neha| Marketing|      Manager| 71000|         7|  2017-04-23|               91| 5200|
|  E118| Rohan|   Finance|      Analyst| 60000|         4|  2020-09-09|               78| NULL|
|  E119| Tanya|     Sales|    Executive| 49000|         3|  2021-12-10|               69| 2600|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+

In [0]:
empdata_df=spark.read.format("csv")\
          .option("header","true")\
          .option("inferschema","false")\
          .option("mode","PERMISSIVE")\
          .load("/Volumes/workspace/empdata/empdata/empdata.csv")
empdata_df.show()

+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|Emp_ID|  Name|Department|         Role|Salary|Experience|Joining_Date|Performance_Score|Bonus|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|  E101|Ananya|        HR|      Manager| 75000|         8|  2016-05-12|               89| 5000|
|  E102| Rahul|   Finance|      Analyst| 62000|         5|  2019-07-20|               76| 3500|
|  E103| Divya|        IT|    Developer| 55000|         3|  2021-03-14|               80| 4000|
|  E104|Ashwin|        IT|    Developer| 58000|         4|  2020-09-11|               92| 4200|
|  E105| Kiran|     Sales|    Executive| 48000|         2|  2022-01-05|               67| NULL|
|  E106| Leena|   Finance|      Manager| 82000|         9|  2015-02-25|               95| 6000|
|  E107| Sneha|        HR|    Recruiter| 50000|         3|  2021-08-18|             NULL| 3000|
|  E108|Vikram|        IT|       Tester| 53000|         4|  2020-06-09|               73| 3200|
|  E109| Manoj|     Sales|    Executive|  NULL|         2|  2022-03-10|               70| 2500|
|  E110|Roshni| Marketing|    Executive| 46000|         1|  2023-02-22|               65| 2000|
|  E111| Aarav|   Finance|        Clerk| 40000|         1|  2023-05-15|               55| 1500|
|  E112| Priya|        IT|    Developer| 57000|         5|  2018-12-02|               88| 4100|
|  E113|  Ravi|     Sales|      Manager| 76000|        10|  2013-09-27|               90| 5500|
|  E114| Meena|        HR|    Executive| 47000|         2|  2022-06-30|               75| 2800|
|  E115| Kavya|        IT|       Tester| 52000|         4|  2020-10-18|             NULL| 3100|
|  E116|Aditya|        IT|Data Engineer| 68000|         6|  2018-07-19|               84| 4500|
|  E117|  Neha| Marketing|      Manager| 71000|         7|  2017-04-23|               91| 5200|
|  E118| Rohan|   Finance|      Analyst| 60000|         4|  2020-09-09|               78| NULL|
|  E119| Tanya|     Sales|    Executive| 49000|         3|  2021-12-10|               69| 2600|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+

In [0]:
empdata_df=spark.read.format("csv")\
          .option("header","true")\
          .option("inferschema","false")\
          .option("mode","DROPMALFORMED")\
          .load("/Volumes/workspace/empdata/empdata/empdata.csv")
empdata_df.show(truncate=False)

+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|Emp_ID|Name  |Department|Role         |Salary|Experience|Joining_Date|Performance_Score|Bonus|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|E101  |Ananya|HR        |Manager      |75000 |8         |2016-05-12  |89               |5000 |
|E102  |Rahul |Finance   |Analyst      |62000 |5         |2019-07-20  |76               |3500 |
|E103  |Divya |IT        |Developer    |55000 |3         |2021-03-14  |80               |4000 |
|E104  |Ashwin|IT        |Developer    |58000 |4         |2020-09-11  |92               |4200 |
|E105  |Kiran |Sales     |Executive    |48000 |2         |2022-01-05  |67               |NULL |
|E106  |Leena |Finance   |Manager      |82000 |9         |2015-02-25  |95               |6000 |
|E107  |Sneha |HR        |Recruiter    |50000 |3         |2021-08-18  |NULL             |3000 |
|E108  |Vikram|IT        |Tester       |53000 |4         |2020-06-09  |73               |3200 |
|E109  |Manoj |Sales     |Executive    |NULL  |2         |2022-03-10  |70               |2500 |
|E110  |Roshni|Marketing |Executive    |46000 |1         |2023-02-22  |65               |2000 |
|E111  |Aarav |Finance   |Clerk        |40000 |1         |2023-05-15  |55               |1500 |
|E112  |Priya |IT        |Developer    |57000 |5         |2018-12-02  |88               |4100 |
|E113  |Ravi  |Sales     |Manager      |76000 |10        |2013-09-27  |90               |5500 |
|E114  |Meena |HR        |Executive    |47000 |2         |2022-06-30  |75               |2800 |
|E115  |Kavya |IT        |Tester       |52000 |4         |2020-10-18  |NULL             |3100 |
|E116  |Aditya|IT        |Data Engineer|68000 |6         |2018-07-19  |84               |4500 |
|E117  |Neha  |Marketing |Manager      |71000 |7         |2017-04-23  |91               |5200 |
|E118  |Rohan |Finance   |Analyst      |60000 |4         |2020-09-09  |78               |NULL |
|E119  |Tanya |Sales     |Executive    |49000 |3         |2021-12-10  |69               |2600 |
+------+------+----------+-------------+------+----------+------------+-----------------+-----+

In [0]:
empdata_df.printSchema()

root
 |-- Emp_ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Role: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Joining_Date: string (nullable = true)
 |-- Performance_Score: string (nullable = true)
 |-- Bonus: string (nullable = true)

In [0]:
from pyspark.sql import SparkSession

In [0]:
num_columns = len(empdata_df.columns)
print(f"Number of Columns: {num_columns}")

Number of Columns: 9

In [0]:
num_rows = empdata_df.count()
print(f"Number of Rows: {num_rows}")

Number of Rows: 19

In [0]:
empdata_df.columns

['Emp_ID',
 'Name',
 'Department',
 'Role',
 'Salary',
 'Experience',
 'Joining_Date',
 'Performance_Score',
 'Bonus']

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit, col

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

empdata_df = spark.read.format("csv")\
    .option("header","true")\
    .option("inferschema","true")\
    .option("mode","PERMISSIVE")\
    .load("/Volumes/workspace/empdata/empdata/empdata.csv")
empdata_df.show()

empdata_df.printSchema()

+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|Emp_ID|  Name|Department|         Role|Salary|Experience|Joining_Date|Performance_Score|Bonus|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|  E101|Ananya|        HR|      Manager| 75000|         8|  2016-05-12|               89| 5000|
|  E102| Rahul|   Finance|      Analyst| 62000|         5|  2019-07-20|               76| 3500|
|  E103| Divya|        IT|    Developer| 55000|         3|  2021-03-14|               80| 4000|
|  E104|Ashwin|        IT|    Developer| 58000|         4|  2020-09-11|               92| 4200|
|  E105| Kiran|     Sales|    Executive| 48000|         2|  2022-01-05|               67| NULL|
|  E106| Leena|   Finance|      Manager| 82000|         9|  2015-02-25|               95| 6000|
|  E107| Sneha|        HR|    Recruiter| 50000|         3|  2021-08-18|             NULL| 3000|
|  E108|Vikram|        IT|       Tester| 53000|         4|  2020-06-09|               73| 3200|
|  E109| Manoj|     Sales|    Executive|  NULL|         2|  2022-03-10|               70| 2500|
|  E110|Roshni| Marketing|    Executive| 46000|         1|  2023-02-22|               65| 2000|
|  E111| Aarav|   Finance|        Clerk| 40000|         1|  2023-05-15|               55| 1500|
|  E112| Priya|        IT|    Developer| 57000|         5|  2018-12-02|               88| 4100|
|  E113|  Ravi|     Sales|      Manager| 76000|        10|  2013-09-27|               90| 5500|
|  E114| Meena|        HR|    Executive| 47000|         2|  2022-06-30|               75| 2800|
|  E115| Kavya|        IT|       Tester| 52000|         4|  2020-10-18|             NULL| 3100|
|  E116|Aditya|        IT|Data Engineer| 68000|         6|  2018-07-19|               84| 4500|
|  E117|  Neha| Marketing|      Manager| 71000|         7|  2017-04-23|               91| 5200|
|  E118| Rohan|   Finance|      Analyst| 60000|         4|  2020-09-09|               78| NULL|
|  E119| Tanya|     Sales|    Executive| 49000|         3|  2021-12-10|               69| 2600|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+

root
 |-- Emp_ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Role: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Joining_Date: date (nullable = true)
 |-- Performance_Score: integer (nullable = true)
 |-- Bonus: integer (nullable = true)

In [0]:
empdata_df.select(col("Name").alias("empName"),"Emp_ID","Department").show(5)

+-------+------+----------+
|empName|Emp_ID|Department|
+-------+------+----------+
| Ananya|  E101|        HR|
|  Rahul|  E102|   Finance|
|  Divya|  E103|        IT|
| Ashwin|  E104|        IT|
|  Kiran|  E105|     Sales|
+-------+------+----------+
only showing top 5 rows

In [0]:
empdata_df.filter(col("Salary")>50000).show()

+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|Emp_ID|  Name|Department|         Role|Salary|Experience|Joining_Date|Performance_Score|Bonus|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|  E101|Ananya|        HR|      Manager| 75000|         8|  2016-05-12|               89| 5000|
|  E102| Rahul|   Finance|      Analyst| 62000|         5|  2019-07-20|               76| 3500|
|  E103| Divya|        IT|    Developer| 55000|         3|  2021-03-14|               80| 4000|
|  E104|Ashwin|        IT|    Developer| 58000|         4|  2020-09-11|               92| 4200|
|  E106| Leena|   Finance|      Manager| 82000|         9|  2015-02-25|               95| 6000|
|  E108|Vikram|        IT|       Tester| 53000|         4|  2020-06-09|               73| 3200|
|  E112| Priya|        IT|    Developer| 57000|         5|  2018-12-02|               88| 4100|
|  E113|  Ravi|     Sales|      Manager| 76000|        10|  2013-09-27|               90| 5500|
|  E115| Kavya|        IT|       Tester| 52000|         4|  2020-10-18|             NULL| 3100|
|  E116|Aditya|        IT|Data Engineer| 68000|         6|  2018-07-19|               84| 4500|
|  E117|  Neha| Marketing|      Manager| 71000|         7|  2017-04-23|               91| 5200|
|  E118| Rohan|   Finance|      Analyst| 60000|         4|  2020-09-09|               78| NULL|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+

In [0]:
empdata_df.withColumn("Performance_Score",lit("90")).show()

+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|Emp_ID|  Name|Department|         Role|Salary|Experience|Joining_Date|Performance_Score|Bonus|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|  E101|Ananya|        HR|      Manager| 75000|         8|  2016-05-12|               90| 5000|
|  E102| Rahul|   Finance|      Analyst| 62000|         5|  2019-07-20|               90| 3500|
|  E103| Divya|        IT|    Developer| 55000|         3|  2021-03-14|               90| 4000|
|  E104|Ashwin|        IT|    Developer| 58000|         4|  2020-09-11|               90| 4200|
|  E105| Kiran|     Sales|    Executive| 48000|         2|  2022-01-05|               90| NULL|
|  E106| Leena|   Finance|      Manager| 82000|         9|  2015-02-25|               90| 6000|
|  E107| Sneha|        HR|    Recruiter| 50000|         3|  2021-08-18|               90| 3000|
|  E108|Vikram|        IT|       Tester| 53000|         4|  2020-06-09|               90| 3200|
|  E109| Manoj|     Sales|    Executive|  NULL|         2|  2022-03-10|               90| 2500|
|  E110|Roshni| Marketing|    Executive| 46000|         1|  2023-02-22|               90| 2000|
|  E111| Aarav|   Finance|        Clerk| 40000|         1|  2023-05-15|               90| 1500|
|  E112| Priya|        IT|    Developer| 57000|         5|  2018-12-02|               90| 4100|
|  E113|  Ravi|     Sales|      Manager| 76000|        10|  2013-09-27|               90| 5500|
|  E114| Meena|        HR|    Executive| 47000|         2|  2022-06-30|               90| 2800|
|  E115| Kavya|        IT|       Tester| 52000|         4|  2020-10-18|               90| 3100|
|  E116|Aditya|        IT|Data Engineer| 68000|         6|  2018-07-19|               90| 4500|
|  E117|  Neha| Marketing|      Manager| 71000|         7|  2017-04-23|               90| 5200|
|  E118| Rohan|   Finance|      Analyst| 60000|         4|  2020-09-09|               90| NULL|
|  E119| Tanya|     Sales|    Executive| 49000|         3|  2021-12-10|               90| 2600|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+

In [0]:
empdata_add = empdata_df.withColumn("Total_Salary", col("Salary") + col("Bonus"))

empdata_add.show()

+------+------+----------+-------------+------+----------+------------+-----------------+-----+------------+
|Emp_ID|  Name|Department|         Role|Salary|Experience|Joining_Date|Performance_Score|Bonus|Total_Salary|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+------------+
|  E101|Ananya|        HR|      Manager| 75000|         8|  2016-05-12|               89| 5000|       80000|
|  E102| Rahul|   Finance|      Analyst| 62000|         5|  2019-07-20|               76| 3500|       65500|
|  E103| Divya|        IT|    Developer| 55000|         3|  2021-03-14|               80| 4000|       59000|
|  E104|Ashwin|        IT|    Developer| 58000|         4|  2020-09-11|               92| 4200|       62200|
|  E105| Kiran|     Sales|    Executive| 48000|         2|  2022-01-05|               67| NULL|        NULL|
|  E106| Leena|   Finance|      Manager| 82000|         9|  2015-02-25|               95| 6000|       88000|
|  E107| Sneha|        HR|    Recruiter| 50000|         3|  2021-08-18|             NULL| 3000|       53000|
|  E108|Vikram|        IT|       Tester| 53000|         4|  2020-06-09|               73| 3200|       56200|
|  E109| Manoj|     Sales|    Executive|  NULL|         2|  2022-03-10|               70| 2500|        NULL|
|  E110|Roshni| Marketing|    Executive| 46000|         1|  2023-02-22|               65| 2000|       48000|
|  E111| Aarav|   Finance|        Clerk| 40000|         1|  2023-05-15|               55| 1500|       41500|
|  E112| Priya|        IT|    Developer| 57000|         5|  2018-12-02|               88| 4100|       61100|
|  E113|  Ravi|     Sales|      Manager| 76000|        10|  2013-09-27|               90| 5500|       81500|
|  E114| Meena|        HR|    Executive| 47000|         2|  2022-06-30|               75| 2800|       49800|
|  E115| Kavya|        IT|       Tester| 52000|         4|  2020-10-18|             NULL| 3100|       55100|
|  E116|Aditya|        IT|Data Engineer| 68000|         6|  2018-07-19|               84| 4500|       72500|
|  E117|  Neha| Marketing|      Manager| 71000|         7|  2017-04-23|               91| 5200|       76200|
|  E118| Rohan|   Finance|      Analyst| 60000|         4|  2020-09-09|               78| NULL|        NULL|
|  E119| Tanya|     Sales|    Executive| 49000|         3|  2021-12-10|               69| 2600|       51600|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+------------+

In [0]:
empdata_df.withColumnRenamed("Joining_Date","Hire_Date").show()

+------+------+----------+-------------+------+----------+----------+-----------------+-----+
|Emp_ID|  Name|Department|         Role|Salary|Experience| Hire_Date|Performance_Score|Bonus|
+------+------+----------+-------------+------+----------+----------+-----------------+-----+
|  E101|Ananya|        HR|      Manager| 75000|         8|2016-05-12|               89| 5000|
|  E102| Rahul|   Finance|      Analyst| 62000|         5|2019-07-20|               76| 3500|
|  E103| Divya|        IT|    Developer| 55000|         3|2021-03-14|               80| 4000|
|  E104|Ashwin|        IT|    Developer| 58000|         4|2020-09-11|               92| 4200|
|  E105| Kiran|     Sales|    Executive| 48000|         2|2022-01-05|               67| NULL|
|  E106| Leena|   Finance|      Manager| 82000|         9|2015-02-25|               95| 6000|
|  E107| Sneha|        HR|    Recruiter| 50000|         3|2021-08-18|             NULL| 3000|
|  E108|Vikram|        IT|       Tester| 53000|         4|2020-06-09|               73| 3200|
|  E109| Manoj|     Sales|    Executive|  NULL|         2|2022-03-10|               70| 2500|
|  E110|Roshni| Marketing|    Executive| 46000|         1|2023-02-22|               65| 2000|
|  E111| Aarav|   Finance|        Clerk| 40000|         1|2023-05-15|               55| 1500|
|  E112| Priya|        IT|    Developer| 57000|         5|2018-12-02|               88| 4100|
|  E113|  Ravi|     Sales|      Manager| 76000|        10|2013-09-27|               90| 5500|
|  E114| Meena|        HR|    Executive| 47000|         2|2022-06-30|               75| 2800|
|  E115| Kavya|        IT|       Tester| 52000|         4|2020-10-18|             NULL| 3100|
|  E116|Aditya|        IT|Data Engineer| 68000|         6|2018-07-19|               84| 4500|
|  E117|  Neha| Marketing|      Manager| 71000|         7|2017-04-23|               91| 5200|
|  E118| Rohan|   Finance|      Analyst| 60000|         4|2020-09-09|               78| NULL|
|  E119| Tanya|     Sales|    Executive| 49000|         3|2021-12-10|               69| 2600|
+------+------+----------+-------------+------+----------+----------+-----------------+-----+

In [0]:
empdata_df.withColumn("Experience",col("Experience").cast("string")).printSchema()

root
 |-- Emp_ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Role: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Joining_Date: date (nullable = true)
 |-- Performance_Score: integer (nullable = true)
 |-- Bonus: integer (nullable = true)

In [0]:
empdata_df.drop(col("Bonus")).show()

+------+------+----------+-------------+------+----------+------------+-----------------+
|Emp_ID|  Name|Department|         Role|Salary|Experience|Joining_Date|Performance_Score|
+------+------+----------+-------------+------+----------+------------+-----------------+
|  E101|Ananya|        HR|      Manager| 75000|         8|  2016-05-12|               89|
|  E102| Rahul|   Finance|      Analyst| 62000|         5|  2019-07-20|               76|
|  E103| Divya|        IT|    Developer| 55000|         3|  2021-03-14|               80|
|  E104|Ashwin|        IT|    Developer| 58000|         4|  2020-09-11|               92|
|  E105| Kiran|     Sales|    Executive| 48000|         2|  2022-01-05|               67|
|  E106| Leena|   Finance|      Manager| 82000|         9|  2015-02-25|               95|
|  E107| Sneha|        HR|    Recruiter| 50000|         3|  2021-08-18|             NULL|
|  E108|Vikram|        IT|       Tester| 53000|         4|  2020-06-09|               73|
|  E109| Manoj|     Sales|    Executive|  NULL|         2|  2022-03-10|               70|
|  E110|Roshni| Marketing|    Executive| 46000|         1|  2023-02-22|               65|
|  E111| Aarav|   Finance|        Clerk| 40000|         1|  2023-05-15|               55|
|  E112| Priya|        IT|    Developer| 57000|         5|  2018-12-02|               88|
|  E113|  Ravi|     Sales|      Manager| 76000|        10|  2013-09-27|               90|
|  E114| Meena|        HR|    Executive| 47000|         2|  2022-06-30|               75|
|  E115| Kavya|        IT|       Tester| 52000|         4|  2020-10-18|             NULL|
|  E116|Aditya|        IT|Data Engineer| 68000|         6|  2018-07-19|               84|
|  E117|  Neha| Marketing|      Manager| 71000|         7|  2017-04-23|               91|
|  E118| Rohan|   Finance|      Analyst| 60000|         4|  2020-09-09|               78|
|  E119| Tanya|     Sales|    Executive| 49000|         3|  2021-12-10|               69|
+------+------+----------+-------------+------+----------+------------+-----------------+

In [0]:
empdata_df_cleaned = empdata_df.na.drop()


empdata_df_cleaned.show()

+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|Emp_ID|  Name|Department|         Role|Salary|Experience|Joining_Date|Performance_Score|Bonus|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|  E101|Ananya|        HR|      Manager| 75000|         8|  2016-05-12|               89| 5000|
|  E102| Rahul|   Finance|      Analyst| 62000|         5|  2019-07-20|               76| 3500|
|  E103| Divya|        IT|    Developer| 55000|         3|  2021-03-14|               80| 4000|
|  E104|Ashwin|        IT|    Developer| 58000|         4|  2020-09-11|               92| 4200|
|  E106| Leena|   Finance|      Manager| 82000|         9|  2015-02-25|               95| 6000|
|  E108|Vikram|        IT|       Tester| 53000|         4|  2020-06-09|               73| 3200|
|  E110|Roshni| Marketing|    Executive| 46000|         1|  2023-02-22|               65| 2000|
|  E111| Aarav|   Finance|        Clerk| 40000|         1|  2023-05-15|               55| 1500|
|  E112| Priya|        IT|    Developer| 57000|         5|  2018-12-02|               88| 4100|
|  E113|  Ravi|     Sales|      Manager| 76000|        10|  2013-09-27|               90| 5500|
|  E114| Meena|        HR|    Executive| 47000|         2|  2022-06-30|               75| 2800|
|  E116|Aditya|        IT|Data Engineer| 68000|         6|  2018-07-19|               84| 4500|
|  E117|  Neha| Marketing|      Manager| 71000|         7|  2017-04-23|               91| 5200|
|  E119| Tanya|     Sales|    Executive| 49000|         3|  2021-12-10|               69| 2600|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+

In [0]:
empdata_df_filled = empdata_df.fillna({
    "Salary": 25000,
    "Experience": 1,
    "Department": "Unknown",
    "Performance_Score": 3.0,
    "Bonus": 0
})

In [0]:
empdata_df.select([count(when(col(c).isNull(), c)).alias(c) for c in empdata_df.columns]).show()

+------+----+----------+----+------+----------+------------+-----------------+-----+
|Emp_ID|Name|Department|Role|Salary|Experience|Joining_Date|Performance_Score|Bonus|
+------+----+----------+----+------+----------+------------+-----------------+-----+
|     0|   0|         0|   0|     1|         0|           0|                2|    2|
+------+----+----------+----+------+----------+------------+-----------------+-----+

In [0]:
empdata_df = empdata_df\
    .withColumn("Bonus", when(col("Bonus").isNull(), lit(2000))
                .otherwise(col("Bonus")))\
    .withColumn("Performance_Score", when(col("Performance_Score").isNull(), lit(75))
                .otherwise(col("Performance_Score")))\
    .withColumn("Salary", when(col("Salary").isNull(), lit(50000))
                .otherwise(col("Salary")))


empdata_df.show()

+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|Emp_ID|  Name|Department|         Role|Salary|Experience|Joining_Date|Performance_Score|Bonus|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+
|  E101|Ananya|        HR|      Manager| 75000|         8|  2016-05-12|               89| 5000|
|  E102| Rahul|   Finance|      Analyst| 62000|         5|  2019-07-20|               76| 3500|
|  E103| Divya|        IT|    Developer| 55000|         3|  2021-03-14|               80| 4000|
|  E104|Ashwin|        IT|    Developer| 58000|         4|  2020-09-11|               92| 4200|
|  E105| Kiran|     Sales|    Executive| 48000|         2|  2022-01-05|               67| 2000|
|  E106| Leena|   Finance|      Manager| 82000|         9|  2015-02-25|               95| 6000|
|  E107| Sneha|        HR|    Recruiter| 50000|         3|  2021-08-18|               75| 3000|
|  E108|Vikram|        IT|       Tester| 53000|         4|  2020-06-09|               73| 3200|
|  E109| Manoj|     Sales|    Executive| 50000|         2|  2022-03-10|               70| 2500|
|  E110|Roshni| Marketing|    Executive| 46000|         1|  2023-02-22|               65| 2000|
|  E111| Aarav|   Finance|        Clerk| 40000|         1|  2023-05-15|               55| 1500|
|  E112| Priya|        IT|    Developer| 57000|         5|  2018-12-02|               88| 4100|
|  E113|  Ravi|     Sales|      Manager| 76000|        10|  2013-09-27|               90| 5500|
|  E114| Meena|        HR|    Executive| 47000|         2|  2022-06-30|               75| 2800|
|  E115| Kavya|        IT|       Tester| 52000|         4|  2020-10-18|               75| 3100|
|  E116|Aditya|        IT|Data Engineer| 68000|         6|  2018-07-19|               84| 4500|
|  E117|  Neha| Marketing|      Manager| 71000|         7|  2017-04-23|               91| 5200|
|  E118| Rohan|   Finance|      Analyst| 60000|         4|  2020-09-09|               78| 2000|
|  E119| Tanya|     Sales|    Executive| 49000|         3|  2021-12-10|               69| 2600|
+------+------+----------+-------------+------+----------+------------+-----------------+-----+

In [0]:
empdata_df.write.format("csv")\
         .option("header","true")\
         .option("mode","overwrite")\
         .option("path","/Volumes/workspace/empdata/empdata/csv_write")\
         .save()

In [0]:
%fs ls /Volumes/workspace/empdata/empdata/

path,name,size,modificationTime
dbfs:/Volumes/workspace/empdata/empdata/csv_write/,csv_write/,0,1761886542007
dbfs:/Volumes/workspace/empdata/empdata/empdata.csv,empdata.csv,1087,1761845868000